/* ForgotPassword.css */

form {
    width: 350px;
}

.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #201f1f;
    justify-content: center;
    overflow: hidden;
  }
  
  .forgot-password-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    padding: 40px;
    transition: transform 0.3s ease-in-out;
  }
  
  .forgot-password-box:hover {
    transform: scale(1.02);
  }
  
  .logo-container {
    margin-bottom: 15px;
  }
  
  .logo {
    width: 250px;
    height: auto;
  }
  
  h2 {
    margin-bottom: 10px;
    color: #fe171f;
    font-size: 24px;
  }
  
  p {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 12px;
    background-color: #f5f5f5;
    transition: box-shadow 0.3s;
  }
  
  .input-container input {
    border: none;
    outline: none;
    width: 100%;
    padding-left: 10px;
    background-color: transparent;
  }
  
  .input-container:focus-within {
    box-shadow: 0 0 10px #fe171f;
  }
  
  .submit-button {
    background: linear-gradient(45deg, #fe171f, #ff4a4a);
    color: white;
    border: none;
    width: 100%;
    max-width: 350px;
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
    transition: background 0.3s ease;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .submit-button:hover {
    background: linear-gradient(45deg, #ff4a4a, #fe171f);
  }

  .input-container svg,
.social-button svg {
  color: #fe171f; /* Define a cor dos ícones */
  font-size: 20px; /* Ajusta o tamanho dos ícones */
  margin-right: 10px; /* Espaçamento entre o ícone e o input */
}

.social-button svg {
  font-size: 24px; /* Ícones maiores para botões sociais */
  margin-right: 8px;
}

  
  .footer a {
    color: #fe171f;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  